<div class="row">
    
    
        <h1 class="titulo"><span> Proyectos </span></h1>
        <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevoproyecto" *ngIf="isLogged">
            Agregar Proyecto</button>
        </div>
        <div class="col lg 1"></div>
        <div class="col-lg-11">
            <table class="table">
                <tbody>
                    <tr *ngFor="let Proyecto of proyecto">
                        <td>
                            {{Proyecto?.nombreP}}
                        </td>
                        <td>
                            {{Proyecto?.descripcionP}}
                        </td>
                        <td>
                           <a href= "{{Proyecto.linkP}}" Target="_blank">Ir a Pagina Web del Proyecto</a>
                      </td>
                      <td>
                        <img class= "img-fluid" alt=""  src="{{Proyecto.imagenP}}" width="150px">
                          
                      </td>
                  
                        <td *ngIf="isLogged">
                            <button class="btn btn-light" routerLink="editproyecto/{{Proyecto.id}}">
                                <i class="bi bi-pencil-fill"></i> EDITAR</button>
                       
                        </td>
                        
                        <td *ngIf="isLogged"><button class="btn btn-danger" (click)="delete(Proyecto.id)">
                                <i class="bi bi-trash-fill"></i> BORRAR</button>
                        </td>
                    </tr>
                </tbody>
            </table>
          
        </div>